@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Pixelify+Sans&family=Roboto&family=Sofia+Sans+Condensed:wght@1&display=swap');


*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    background-color: black;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #720000;
}

::selection{
    background-color: #4e4e4e;
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.069),rgba(0, 0, 0, 0.8)),url("../pics/sec-1-banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.sec-1 img{
    height: 45px;
    padding: 20px 30px;
}

.sec-2{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    padding: 50px 30px 100px 30px;
    background-color: rgba(0, 0, 0, 0.772);
    border-radius:0.1875rem;
    min-height: 300px;
}

.sec-2>*{
    padding: 20px;
}
.Sign-up{
    margin:  20px 10px;
    padding:20px;
    
}

.Sign-up a{ 
    margin: 0 150px;
    background-color: red;
    padding: 10px 15px;
    color: aliceblue;
    text-decoration:none ;
    border-radius:0.1875rem;
}

.Sign-up a:hover{
    background-color: rgb(194, 1, 1);
}

.sec-2-title{
    color: aliceblue;
    padding: 0  0  20px 20px;
    font-size: 30px;

}

.sec-2 input{
    background-color: rgb(62, 61, 61);
    border: 1px solid rgb(120, 120, 120);
    width: 400px;
    color:white ;
    font-size: 15px;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 0.1875rem;
}

.sec-2 ul {
    list-style-type: none;
    display: inline; }

.sec-2 ul li {
    display: inline; 
    color: rgb(122, 122, 122);
}

.rem-div input{
    margin: 0 !important;
    padding: 0 !important;    
    width: auto;
}   

.rem-div {
    margin-right: 90px;
}

.rem-div input::before{
    background-color: rgb(88, 88, 89);
}

.sec-2-text-1{
    padding:20px;
}


.sec-2-text-1 a{
    text-decoration: none;
    margin-left: 120px;
    color: rgb(122, 122, 122);
}

.sec-2-text-1 a:hover{
    text-decoration:underline;
}

.sec-2-Sign-up{
    color: rgb(85, 84, 84);
    padding: 0 20px;
}

.sec-2-Sign-up a{
    text-decoration: none;
    color: aliceblue;
}

.sec-2-Sign-up a:hover{
    text-decoration: underline;
}

.sec-2-reCaptcha{
    width: 340px;
    padding-left: 20px;
    color:rgb(85, 84, 84) ;
}

.sec-2-reCaptcha a{
    color: rgb(0, 0, 196);
    text-decoration: none;
}

.sec-2-reCaptcha a:hover{
    text-decoration: underline;
}


.sec-3{
    margin-top: 200px;
    background-color:rgba(0, 0, 0, 0.772); 
    padding: 50px;
}

.sec-3-title{
    color: #4e4e4e;
    font-family: 'Roboto', sans-serif;
}

.sec-3-title p{
    padding-left: 155px;
    margin: 30px 0 ;
}

.sec-3-title a{
    color: #4e4e4e;
    text-decoration: none;
}

.sec-3-title a:hover{
    text-decoration: underline;
}

.sec-3-links{
    display: flex;
    margin-left: 110px;
    padding-left: 48px;
    gap: 200px;
}

.sec-3-links a{
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin:  20px 0;
    color:#4e4e4e;
}

.sec-3-links a:hover{
    text-decoration: underline;
}

.sec-3-lang{
    background-color:rgb(37, 37, 37) ;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    width: 120px;
    padding: 10px 15px;
    border-style:  rgb(123, 123, 123) 1px solid;   
    border-radius:0.2875rem;
}




.sec-3 select{
    position: relative;
    left: 158px;
    min-width: 100px;
    margin: 20px 0 ;
}

.sec-3-p{
    padding: 0 158px;
    color: #898989;
}